.contenedor{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 1fr 5fr 1fr;
    grid-template-areas: 
    "section1 aside"
    "footer footer";
    .section1{
        grid-area: section1;
            .titulocd{
                padding: 20px;
                font-size: xx-large;
                line-height: 1.5;
                letter-spacing: 1.5;
                align-items: center;
                align-content: center;
                justify-content: center;
                font-family: $FontTit;
            }
            .colecciondestacada{
                display: flex;
                    img{ width: 300px;
                        padding-left: 0.7rem;
                        border-radius: 7px;
                        flex-direction: row;
                        justify-content: space-around;
                        align-content: space-around;
                        transition: all 500ms ease;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            .colecciondestacadados{
                    display: none;
            }
    }
    .aside{
        grid-area: aside;
        .tituloc{
            padding: 20px;
            font-size: xx-large;
            align-items: center;
            align-content: center ;
            justify-content: center;
            font-family: $FontTit;
        }
        .colecciones{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 300px;
            height: 400px;
            overflow: auto;
            
            a img{
                width: 250px;
                border-radius: 7px;
                transition: all 500ms ease;
                &:hover{
                    opacity: .7;
                    border: solid yellow 2px;
                }
            }
    }
    .colecciones::-webkit-scrollbar{
        width: 7px;
        background-color: rgb(176, 195, 10);
        border-radius: 7px;
        }

    }
}